@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.hljs-comment, .hljs-quote {
    color: #7e7887
}

.hljs-variable, .hljs-template-variable, .hljs-attribute, .hljs-regexp, .hljs-link, .hljs-tag, .hljs-name, .hljs-selector-id, .hljs-selector-class {
    color: #be4678
}

.hljs-number, .hljs-meta, .hljs-built_in, .hljs-builtin-name, .hljs-literal, .hljs-type, .hljs-params {
    color: #43D9AD
}

.hljs-string, .hljs-symbol, .hljs-bullet {
    color: #2a9292
}

.hljs-title, .hljs-section {
    color: #576ddb
}

.hljs-keyword, .hljs-selector-tag {
    color: #E99287
}

.hljs-deletion, .hljs-addition {
    color: #19171c;
    display: inline-block;
    width: 100%
}

.hljs-deletion {
    background-color: #be4678
}

.hljs-addition {
    background-color: #2a9292
}

.hljs {
    display: block;
    padding: 24px 30px 30px 24px;
    overflow-x: auto;
    background: #011221;
    border-radius: 15px;
    border: 1px solid #1E2D3D;
    color: #607B96;
}

.hljs-emphasis {
    font-style: italic
}

.hljs-strong {
    font-weight: bold
}

.scrollbar::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
}

.scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    scroll-behavior: smooth;
}

.game-area {
    position: relative;
    /*margin: 20px auto;*/
    width: 250px;
    height: 500px;
    background-color: #011627D6;
    box-shadow: inset 1px 5px 11px rgba(2, 18, 27, 0.71);
}

.snake-dot {
    position: absolute;
    width: 3%;
    height: 2%;
    background-color: #43D9AD;
}


.snake-food {
    position: absolute;
    width: 5%;
    height: 2.5%;
    background-color: red;
    border: 2px solid rgba(67, 217, 173, 0.25);
    border-radius: 50%;
    background-color: rgba(67, 217, 173, 0.5);
}

.snake-food::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border: 2px solid rgba(67, 217, 173, 0.25);
    border-radius: 50%;
    background-color: rgba(67, 217, 173, 0.5);
}
